<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaPetshop_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LOJA_PETEntities" connectionString="metadata=res://*/MODELPET.csdl|res://*/MODELPET.ssdl|res://*/MODELPET.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.209;initial catalog=LOJA_PET;user id=SA;password=raautomacao_01;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
   <!-- <add name="SistemaPetshop_2._0.Properties.Settings.LOJA_PETConnectionString"
      connectionString="Data Source=192.168.0.209;Initial Catalog=LOJA_PET;User ID=SA;Password=raautomacao_01"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SistemaPetshop_2._0.Properties.Settings>
      <setting name="TIPO_MAQ" serializeAs="String">
        <value />
      </setting>
    </SistemaPetshop_2._0.Properties.Settings>
  </userSettings>
</configuration>